/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-size: 1em;
  margin: 8px;
}

body {

}

article {

}

h1 {
  font-size: 1.8em;
}

h2 {

}

img {
	max-width: 100%;
}

main {

}

section {

}

figure {
	margin: auto;
}

figcaption {
  /* font-size: .8em; */
}

@media (min-width: 553px) {
  *{
    background-color: antiquewhite;
    font-size: 1.01em;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  section figure{
    flex-basis: 40%;
  }
  header, main{
    max-width: 1500px;
    margin: auto;
  }
}